.image {
    position: relative;
    overflow: hidden;

    &--bordered {
    	border: 1px solid rgba(var(--color-01));
    }

    & img:not(.image__loader) {
    	position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 2;
    	height: 100%;
    	width: 100%;
    }

    &--fit-contain img:not(.image__loader) {
    	object-fit: contain;
    }

    &--fit-cover img:not(.image__loader) {
    	object-fit: cover;
    }

    &--position-bottom img:not(.image__loader) {
    	object-position: bottom;
    }

    &--position-right img:not(.image__loader) {
    	object-position: right;
    }

    &--position-left img:not(.image__loader) {
    	object-position: left;
    }

    &--position-top img:not(.image__loader) {
    	object-position: top;
    }

    &__loader {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	z-index: 1;
    	height: 50px;
    	width: 50px;
    	transform: translate(-50%, -50%);
    }
}