.large-link {
    line-height: 1.0;
    font-weight: 400;
    font-size: 36px;
    color: rgba(var(--color-02));

    @media screen and (max-width: 1530px) {
    	font-size: calc(20px + 16 * (100vw - 320px) / (1530 - 320));
    }
}