:root {
    --default-container-width: 1530px;
    --greater-container-width: 1710px;
    --container-padding-value: 20px;
    --header-source-height: 100px;
    --header-mobile-height: 70px;
    --color-01: 0, 0, 0;        /* #000000 */
    --color-02: 29, 21, 10;     /* #1d150a */
    --color-03: 34, 34, 34;     /* #222222 */
    --color-04: 85, 85, 85;     /* #555555 */
    --color-05: 153, 153, 153;  /* #999999 */
    --color-06: 224, 223, 214;  /* #e0dfd6 */
    --color-07: 247, 242, 239;  /* #f7f2ef */
    --color-08: 156, 146, 89;   /* #9c9259 */
    --color-09: 236, 54, 29;    /* #ec361d */
}