@font-face {
    font-display: swap;
    font-family: 'Droid Serif';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/droid-serif/400/droid-serif_400.woff2') format('woff2'),
    url('../assets/fonts/droid-serif/400/droid-serif_400.woff') format('woff'),
    url('../assets/fonts/droid-serif/400/droid-serif_400.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Droid Serif';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/droid-serif/700/droid-serif_700.woff2') format('woff2'),
    url('../assets/fonts/droid-serif/700/droid-serif_700.woff') format('woff'),
    url('../assets/fonts/droid-serif/700/droid-serif_700.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/inter/300/inter_300.woff2') format('woff2'),
    url('../assets/fonts/inter/300/inter_300.woff') format('woff'),
    url('../assets/fonts/inter/300/inter_300.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/inter/400/inter_400.woff2') format('woff2'),
    url('../assets/fonts/inter/400/inter_400.woff') format('woff'),
    url('../assets/fonts/inter/400/inter_400.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    src: url('../assets/fonts/inter/500/inter_500.woff2') format('woff2'),
    url('../assets/fonts/inter/500/inter_500.woff') format('woff'),
    url('../assets/fonts/inter/500/inter_500.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/inter/600/inter_600.woff2') format('woff2'),
    url('../assets/fonts/inter/600/inter_600.woff') format('woff'),
    url('../assets/fonts/inter/600/inter_600.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/inter/700/inter_700.woff2') format('woff2'),
    url('../assets/fonts/inter/700/inter_700.woff') format('woff'),
    url('../assets/fonts/inter/700/inter_700.ttf') format('truetype');
}