.default-button {
    display: inline-block;
    padding: 15px 55px;
    border: 1px solid rgba(var(--color-02));
    background-color: transparent;
    transition: all 0.2s;

    @media screen and (max-width: 1530px) {
    	padding-top: calc(12px + 3 * (100vw - 320px) / (1530 - 320));
    	padding-right: calc(30px + 25 * (100vw - 320px) / (1530 - 320));
    	padding-bottom: calc(12px + 3 * (100vw - 320px) / (1530 - 320));
    	padding-left: calc(30px + 25 * (100vw - 320px) / (1530 - 320));
    }

    &:focus-visible, &:hover {
    	background-color: rgba(var(--color-02));
    }

    &__text {
    	text-transform: uppercase;
    	letter-spacing: 0.15em;
    	line-height: 1.5;
    	font-family: 'Inter';
    	font-weight: 600;
    	font-size: 16px;
    	color: rgba(var(--color-02));
    	transition: all 0.2s;

    	@media screen and (max-width: 1530px) {
    		font-size: calc(12px + 4 * (100vw - 320px) / (1530 - 320));
    	}

    	.default-button:focus-visible &, .default-button:hover & {
    		color: rgba(var(--color-07));
    	}
    }
}